## Problem Statement & Objective

Telephone marketing required huge investments for engaging call centers, maintaining a historical database and servers for storage.
For a telephone marketing campaign of a Bank, the objective is to identify beforehand, the customers most likely to subscribe to a term deposit, thereby the calls placed can be directed specifically to those identified customers.

## Data Understanding

In [2]:
#Importing the libraries

import pandas as pd
from pandas.api.types import is_numeric_dtype

In [4]:
df = pd.read_excel('data.xlsx')

In [5]:
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
df.shape

(45211, 17)

In [6]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [7]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

age - numeric
job - categorical
marital - categorical
education - categorical
default - binary(yes/no)
balance - numeric
housing - binary(yes/no)
loan - binary(yes/no)
contact - categorical
day - numeric
month - categorical
duration - numeric
campaign - numeric
pdays - numeric
previous - numeric
poutcome - categorical
y - binary(yes/no)

## Data Cleaning

### Checking for null values

In [8]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

### Analyzing numeric data for outliers and variation

In [9]:
df.describe(percentiles=[0.01,0.05,0.10,0.25,0.50,0.75,0.85,0.9,0.99])

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
1%,23.000000,-627.000000,2.000000,11.000000,1.000000,-1.000000,0.000000
5%,27.000000,-172.000000,3.000000,35.000000,1.000000,-1.000000,0.000000
10%,29.000000,0.000000,5.000000,58.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
85%,53.000000,2539.000000,27.000000,437.000000,4.000000,102.000000,1.000000
90%,56.000000,3574.000000,28.000000,548.000000,5.000000,185.000000,2.000000
99%,71.000000,13164.900000,31.000000,1269.000000,16.000000,370.000000,8.900000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

pdays and previous have very less variation in data - so dropped

Outliers are present in the following
Age - both sides
balance - both sides
day - lower side
duration - both sides
campaign - upper side

### Analysing Categorical/Binary Data

In [10]:
# print(df['age'].value_counts())
# df['age'].quantile(0.01)
# age - has outliers on both sides

In [11]:
df['job'].value_counts()/df['job'].value_counts().sum()*100

# Many categories, so we will club the smaller ones into groups ensuring that the each group doesnt exceed 10%
# Club the categories self-employed, entrepreneur and housemaid
# Club the categories unknown, unemployed and student

blue-collar      21.525735
management       20.919688
technician       16.803433
admin.           11.437482
services          9.188029
retired           5.007631
self-employed     3.492513
entrepreneur      3.289023
unemployed        2.882042
housemaid         2.742695
student           2.074716
unknown           0.637013
Name: job, dtype: float64

In [12]:
df['marital'].value_counts()/df['marital'].value_counts().sum()*100

# retained as such as number of categories is less than 5

married     60.193316
single      28.289576
divorced    11.517109
Name: marital, dtype: float64

In [14]:
print(df['education'].value_counts())
df['education'].value_counts()/df['education'].value_counts().sum()*100

# retained as such as number of categories is less than 5

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64

secondary    51.319369
tertiary     29.419831
primary      15.153392
unknown       4.107407
Name: education, dtype: float64

In [15]:
print(df['default'].value_counts())
df['default'].value_counts()/df['default'].value_counts().sum()*100

# drop the column 'default' as there is nil/very less variation

no     44396
yes      815
Name: default, dtype: int64

no     98.197341
yes     1.802659
Name: default, dtype: float64

In [16]:
#print(df['balance'].value_counts()/df['balance'].value_counts().sum()*100)

# balance - has outliers on BOTH SIDES

In [17]:
df['housing'].value_counts()/df['housing'].value_counts().sum()*100

yes    55.583818
no     44.416182
Name: housing, dtype: float64

In [18]:
df['loan'].value_counts()/df['loan'].value_counts().sum()*100

# drop the column 'loan' as there is very less variation

no     83.977351
yes    16.022649
Name: loan, dtype: float64

In [19]:
df['contact'].value_counts()/df['contact'].value_counts().sum()*100

# keep for now, will decide on dropping column after initial model building

cellular     64.774059
unknown      28.798301
telephone     6.427639
Name: contact, dtype: float64

In [20]:
#print(df['day'].value_counts()/df['day'].value_counts().sum()*100)

# No outliers, treat as discrete, numerical variable (not as categorical)

In [21]:
print(df['month'].value_counts()/df['month'].value_counts().sum()*100)
print()

# keep for transformation - quarterly/seasonal

may    30.448342
jul    15.250713
aug    13.817434
jun    11.813497
nov     8.781049
apr     6.485147
feb     5.859194
jan     3.103227
oct     1.632346
sep     1.280662
mar     1.055053
dec     0.473336
Name: month, dtype: float64

In [22]:
#print(df['duration'].value_counts()/df['duration'].value_counts().sum()*100)

# has outliers on both sides

In [23]:
#print(df['campaign'].value_counts()/df['campaign'].value_counts().sum()*100)

# min q1 q2 q3 max
#  1  1  2  3  63

# has outliers on the higher end- values beyond 99.75 percentile
# 25% of data is 1, but the remaining 75% of the data has variation, so retained

In [24]:
#print(df['pdays'].value_counts()/df['pdays'].value_counts().sum()*100)

# min q1 q2 q3 max
# -1 -1  -1 -1 871

# pdays dropped as more than 75% of the values are -1

In [25]:
#print(df['previous'].value_counts()/df['previous'].value_counts().sum()*100)

# min q1 q2 q3 max
# 0   0  0  0  271

# previous dropped as more than 75% of the values are 0

In [26]:
print(df['poutcome'].value_counts()/df['poutcome'].value_counts().sum()*100)

# poutcome dropped as more than 75% of the values are unknown. no variance

unknown    81.747805
failure    10.840282
other       4.069806
success     3.342107
Name: poutcome, dtype: float64

### Summary steps for data cleaning

age ---> outliers 
job ---> club self-employed, entreprenuer, housmaid to one group and unknown, unemployed, student to another
marital --> keep
education --> keep
default --> drop 
balance --> outlier 
housing --> keep
loan --> drop 
contact ---> keep
day ----> keep
month ---> keep for transformation
duration ---> outliers 
campaign ----> outliers -- 1 1 2 3 63 - keep
pdays -----> -1 -1 -1 -1 871 -- drop
previous ----> 0 0 0 0 275 -- drop
poutcome ----> drop

### Dropping columns

In [91]:
df.drop(['default','loan','pdays','previous','poutcome'],axis=1,inplace=True)

In [92]:
df.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,no
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,no
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,no
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,no
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,no

### Capping and flooring of outliers

In [80]:
def Remove_Outlier_IQR(df, col):
    Q1=df[col].quantile(0.25)
    Q3=df[col].quantile(0.75)
    IQR=Q3-Q1
    df.loc[(df[col].values < (Q1 - 1.5*IQR), col)] = Q1 - 1.5*IQR
    df.loc[(df[col].values > (Q3 + 1.5*IQR), col)] = Q3 + 1.5*IQR
    return df

In [86]:
df = Remove_Outlier_IQR(df, 'age')
df = Remove_Outlier_IQR(df, 'balance')
df = Remove_Outlier_IQR(df, 'duration')
df = Remove_Outlier_IQR(df, 'campaign')
df.describe(percentiles= [0.01, 0.99])

                age       balance           day      duration      campaign
count  45211.000000  45211.000000  45211.000000  45211.000000  45211.000000
mean      40.419820    916.785251    189.868352    228.132597      2.431607
std       12.628309   1133.949339   1329.625308    198.274826      1.800246
min        6.500000   -317.353000   -317.353000   -247.500000     -2.000000
1%         6.500000   -317.353000   -317.353000   -247.500000     -2.000000
50%       39.000000    427.000000     16.000000    174.000000      2.000000
99%       74.500000   3369.500000   9966.267800    660.500000      6.000000
max       74.500000   3369.500000   9966.267800    660.500000      6.000000

### Grouping

In [97]:
df.loc[(df['job'] == 'self-employed', 'job')] = 'Others_1'
df.loc[(df['job'] == 'entrepreneur', 'job')] = 'Others_1'
df.loc[(df['job'] == 'housemaid', 'job')] = 'Others_1'
df.loc[(df['job'] == 'unknown', 'job')] = 'Others_2'
df.loc[(df['job'] == 'unemployed', 'job')] = 'Others_2'
df.loc[(df['job'] == 'student', 'job')] = 'Others_2'

In [98]:
print(df['job'].value_counts())
print()
df['job'].value_counts()/df['job'].value_counts().sum()*100

blue-collar    9732
management     9458
technician     7597
admin.         5171
Others_1       4306
services       4154
Others_2       2529
retired        2264
Name: job, dtype: int64

blue-collar    21.525735
management     20.919688
technician     16.803433
admin.         11.437482
Others_1        9.524231
services        9.188029
Others_2        5.593771
retired         5.007631
Name: job, dtype: float64

## Data Transformation

In [ ]:
Age - Binning