In [1]:
print('Hello World')

Hello World

# Strings

In [3]:
# Assigning a string to a variable

a = 'New York'
print(a)

print(type(a))
print(len(a))

New York
<class 'str'>
8

In [4]:
# String indexing

s = 'Hello World'

print(s[0])
print()
print(s[1])

H

e

In [5]:
# String concatenation

s1 = "Hello"
s2 = "World"

print(s1 + " " + s2)

Hello World

In [11]:
# String repetition

print("hello "*3)
print("hello_"*3)
print("-"*20)

hello hello hello
hello_hello_hello_
--------------------

In [14]:
# String Slicing and Indexing - used for getting sub strings

s = "Namaste World"

print(s[1])     # indexing
print(s[6:11])  # slicing (upto and not including 11)
print(s[-5:-1])

a
e Wor
Worl

In [15]:
# test substring membership

print("Wor" in s)

True

In [16]:
# Built-in string functions

print(s.upper())
print(s.lower())

NAMASTE WORLD
namaste world

In [17]:
# Print formatting

name = "Nancy"
age = 22
married = True

print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))

print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Nancy, my age is 22, and it is True that I am married
My name is Nancy, my age is 22, and it is True that I am married

In [18]:
# Arithmetic operations

# Addition
print(2+1)

# Subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

3
1
4
1.5

In [19]:
# Powers

2**3

8

In [22]:
# Order of Operations followed in Python

print( 2 + 10 * 10 + 3 )

# using parenthesis to specify the order
print((2+10) * (10+3))

105
156

In [25]:
# Variable assignment
a =5
a+a

10

In [26]:
a = 10     # reassignment
a

10

In [32]:
# store the word hello in my_string. print the my_string + name.

my_string = 'hello'
print(my_string + " Priiya")

name = 'Priiya'
print(my_string + ' ' + name)

hello Priiya
hello Priiya

In [34]:
# given the numbers stored in variables a and b. Can you write a simple code to compute the mean of these two numbers and assign it to a variable mean.

a = 10
b = 25
mean = (a + b)/2
print(mean)

17.5

# Data Types and Data Structures

In [38]:
a = 15
b = 32.5
c = 4E3
d = "Apple"
e = True

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))

15 <class 'int'>
32.5 <class 'float'>
4000.0 <class 'float'>
Apple <class 'str'>
True <class 'bool'>

# List

In [39]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [41]:
my_list = ['an apple', 22, 100.232, 'o']
my_list

['an apple', 22, 100.232, 'o']

In [42]:
len(my_list)

4

In [44]:
# Adding and extending elements 

l = [1, 2.3, ['a', 'b'], 'New York']
l.append(4.5)
l

[1, 2.3, ['a', 'b'], 'New York', 4.5]

In [45]:
l. append([7,8,9])
l

[1, 2.3, ['a', 'b'], 'New York', 4.5, [7, 8, 9]]

In [50]:
m = [1, 2, 3]
m.extend([4,5,6])
m

[1, 2, 3, 4, 5, 6]

In [51]:
m.insert(5, 8)
m

[1, 2, 3, 4, 5, 8, 6]

In [47]:
# slicing

lst = list(range(10))
print(lst)

print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2]) 
print("every third element, starting at index 1:", lst[1::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]
every third element, starting at index 1: [1, 4, 7]

# Dictionaries

In [58]:
my_dict = {'key1':'value1','key2':40}
my_dict

{'key1': 'value1', 'key2': 40}

In [60]:
print(my_dict['key2'])

my_dict['key1'] = 123
print(my_dict['key1'])

my_dict['key1'] = my_dict['key1'] - 100
print(my_dict['key1'], my_dict['key2'])

40
123
23 40

In [62]:
my_dict['key1'] -= 10
print(my_dict['key1'])

3

In [65]:
#  Create a empty dicts. Create a new key called animal and assign a value 'Dog' to it
d = {}
print(d)
d['animal'] = 'Dog'
print(d)

{}
{'animal': 'Dog'}

# Sets

In [70]:
s = set()
print(s)

s.add(1)
s.add(5)
print(s)

set()
{1, 5}

In [71]:
s.add(1)  # can only add unique values
print(s)

{1, 5}

In [72]:
l = [1,1,2,2,3,4,5,6,1,1]  # list with repeats
set(l)

{1, 2, 3, 4, 5, 6}

In [76]:
# Can you access the last element of list l and find the last element of that list
l = [5, 10, 15, 20, 25, 30, 35]
print(l[-1])

35

# Python programming constructs

In [75]:
# if elif else

a = 5
b = 4

if a > b:
    # we are inside the if block
    print("a is greater than b")
elif b > a:
    # we are inside the elif block
    print("b is greater than a")
else:
    # we are inside the else block
    print("a and b are equal")

a is greater than b

In [77]:
# for loops

list_1 = [2,4,5,6,8,7,9,10]

for number in list_1:          
    if number % 2 == 0:        
        print(number,end=' ')

2 4 6 8 10

In [82]:
# using ENUMERATE

lst1 = [4, 7, 13, 11, 3, 11, 15, ]
lst2 = []

for index, e in enumerate(lst1):
    if e == 10:
        break
    if e < 10:
        continue
    lst2.append((index, e*e))
else:
    print("out of loop without using break statement")

lst2

out of loop without using break statement

[(2, 169), (3, 121), (5, 121), (6, 225)]

In [81]:
lst1 = [15, 7, 13, 4, 10, 14]
lst2 = []

for index, e in enumerate(lst1):
    if e == 10:
        break
    if e < 10:
        continue
    lst2.append((index, e*e))
else:
    print("out of loop without using break statement")
    
lst2

[(0, 225), (2, 169)]

In [83]:
# while loop

x = 0

while x < 10:
    print ('x is currently: ',x,end=' ') 
    print (' x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0  x is still less than 10, adding 1 to x
x is currently:  1  x is still less than 10, adding 1 to x
x is currently:  2  x is still less than 10, adding 1 to x
x is currently:  3  x is still less than 10, adding 1 to x
x is currently:  4  x is still less than 10, adding 1 to x
x is currently:  5  x is still less than 10, adding 1 to x
x is currently:  6  x is still less than 10, adding 1 to x
x is currently:  7  x is still less than 10, adding 1 to x
x is currently:  8  x is still less than 10, adding 1 to x
x is currently:  9  x is still less than 10, adding 1 to x

# List Comprehensions

In [86]:
places = ['Bengaluru','Mumbai','Chennai']
hello = ['Hello ' + x for x in places ]
print(hello)

['Hello Bengaluru', 'Hello Mumbai', 'Hello Chennai']

In [88]:
numbers = [50, 55, 23, 52, 99, 10, 32]
even = [x for x in numbers if x % 2 == 0]
print(even)

odd = [x for x in numbers if x % 2 != 0]
print(odd)

odd_squares = [(num, num * num) for num in numbers if num % 2 == 1]
print(odd_squares)

[50, 52, 10, 32]
[55, 23, 99]
[(55, 3025), (23, 529), (99, 9801)]

# Exception Handling

In [95]:
try:
    x = 1 / 0
except ZeroDivisionError:
    print('divided by zero')
    print('executed when exception occurs')
else:
    print('executed only when exception does not occur')
finally:
    print('finally block, always executed')

divided by zero
executed when exception occurs
finally block, always executed

# Importing modules and packages

In [96]:
# import the math module
import math

#using the log10 function in the math module
math.log10(125)

2.0969100130080562

In [91]:
# Can you compute the square of a number assigned to a variable a using the math module?

import math
num = 23
square_of_num = math.pow(num, 2)
print(square_of_num)

cube_of_num = math.pow(num, 3)
print(cube_of_num)

529.0
12167.0

In [94]:
# Can you create a list of 10 numbers iterate through the list and print the square of each number ?

lst = [4, 5, 6, 7, 10, 11, 12, 13, 17, 18]
print(list(l*l for l in lst))

# another approach
l = [i for i in range(1,11)]
for i in l:
    print(i*i,end=' ')

[16, 25, 36, 49, 100, 121, 144, 169, 289, 324]
1 4 9 16 25 36 49 64 81 100